.MyCalendarClass input {
    width: 130px !important;
    position: relative !important;;
    height: 30px !important;
    /*border: none !important;*/
    padding: 5px !important;
}

.MySubmitButton input {
    height: 30px !important;
    border: none !important;
}

#searchFields {
    font-size: 14px !important;
    width: 100% !important;
    position: relative !important;
}

.MyPanelStyleClass {
    border: 1px solid gray;
    background: none;
    color: black !important;
}

.MyDropDown.ui-widget {
    /*min-width:calc(100% - 23px) !important;*/
    width: calc(100% - 23px);
    position: relative !important;;
    /*border: none !important;*/
}

.ui-g {
    color: black;
}

.MyToolTip {
    font-size: 12px !important;
}

/* for now it's use for set popup calendar font-size */
.ui-datepicker {
    font-size: 12px;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-inputfield {
    width: 100% !important;
    position: relative !important;;
    height: 30px !important;
    padding: 5px !important;
    font-weight: normal !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
    border: 0 none;
    display: block;
    font-weight: normal;
    line-height: 30px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.ui-menu .ui-menuitem-link {
    cursor: pointer;
    font-weight: bold !important;
    line-height: 16px;
}

.ui-menu, .ui-menu .ui-menu-child {
    background: #85b2cb;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 70% !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #fff none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #313131 !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    overflow: hidden;
    padding: 4px;
}

/* for save line separators in String */
.preformatted {
    white-space: pre-wrap;
}

.AdditionalInfoTextArea {
    height: 5em !important;
}

.StepsTextArea {
    height: 15em !important;
}

.ExpectedConditionsTextArea {
    height: 5em !important;
}

.TestParametersTextArea {
    height: 5em !important;
}

.linksStyle{
    font-size: 18px !important;
}


