.topPanelButton {
	background: none;
	color: #9d9d9d;
	border: none;
	text-shadow: none;
	font-family: inherit;
	font-weight: normal !important;
	box-shadow: none;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.topPanelButton:active {
	background: none !important;
	color: #9d9d9d;
	border: none;
	text-shadow: none;
	font-family: inherit;
	font-weight: normal !important;
	box-shadow: none;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.navbar-brand{
	color: rgb(0,128,250) !important;
}

.topPanelButton:hover {
	color: #fff;
}

.navbar {
	margin-bottom: 0px !important;
}

.navbar-inverse{
	border-radius: 0px !important;
	border:none !important;
}